@import url("../global.css");

/*
This file contains the unique styles needed for example.html which do not appear in /css/global.css
----------------------------------------------------------------------------------------
*/

html { 
  background: rgb(244, 244, 244);
  background-color: #2E2E2E;
  }
body {
    -webkit-text-size-adjust:100%;
    -moz-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
	background-image: url("parchmentresize.jpg");
	background-repeat: repeat;
	background-position: center;
	margin: 0 auto; 
	max-width: 60em;
	border-style: ridge;
  border-color: gray;
  
}

a:link {
    text-decoration: none;
	color: #000000;
}

a:visited {
    text-decoration: none;
	color: #000000;
}

a:hover {
    text-decoration: underline;
	color: #2929A3;
}

a:active {
    text-decoration: underline;
	color: #2929A3;
	}

div{
	

}

/* 5. GLOBAL LAYOUT & GLOBAL CUSTOM TYPOGRAPHY
----------------------------------------------------------------------------------------*/
h1 {
  text-align: center;
  font-size: 2.618em;
  line-height: 1.2em;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  }
 
h2{

font-family: "Trebuchet MS", Helvetica, sans-serif;

}

 
h3 { text-transform:uppercase; letter-spacing:0.12em; font-family: "Trebuchet MS", Helvetica, sans-serif; }
h3, h4, h5, h6 { font-weight: bold; }

p.intro { font-size: 1.309em; margin-bottom: 1em; }
  
header { text-align:center; }

footer {
  margin:1.618em 0 0;
  padding: 1.618em 0 0;
  border-top: 1px solid rgb(102,102,102);
  border-bottom: 1px solid rgb(102,102,102);
  }
  
footer p { float: left; margin-right:1em; }


/* 6. CUSTOM LAYOUT & TYPOGRAPHY (Baby bear)
----------------------------------------------------------------------------------------*/
  
header img#header-logo { margin-bottom:-0.809em; }

header h2:before {
  content:"";
  border-bottom:1px solid #333;
  height: 1.618em;
  width: 35%;  
  display: block;
  float: left;
}

header h2:after {
  content:"";
  border-bottom:1px solid #333;
  height: 1.618em;
  width: 35%;
  display: block;
  float: right;
}

/*
Zac's lovely header css. Dont hurt me dalton. :(
*/
#homelink{
  float: left;
  font-size: 3em;
  size: 100%;
}
#headerlinks{
  a{
  display: inline;
  }
  float: left; 
  max-width: 60em;
  color: #000000;
  }
#headcontainer {	/*In case we want the header to be different size than the page content... Idk how to web design.*/
  padding: 1em;
  margin: 0 auto; 
  max-width: 60em;
  background: -webkit-linear-gradient(gray, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(gray, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(gray, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(gray, white); /* Standard syntax */
  border-style: none none ridge none;
  border-color: gray;
}

#footcontainer {	
  padding: 1em;
  margin: 0 auto; 
  max-width: 60em;

}

/*
Zac's search lists!
*/
.zacsh2{
  display: inline;
}

#searchlist{
  list-style-type: none;
}

.searchlistitem{
  display: block;
  height: 100px;
  margin-bottom: 20px;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.searchnumbers{
  display: inline-block;
  color: #424242;
  font-size: 200%;
  padding-top: 1em;
  padding-right: .5em;
  float: left;
  width: 1.3em;
}

.searchtext{
  position: relative;
  margin: 5px;
  max-width: 75%;
  overflow: hidden;
}

.searchitemname{

}

.searchratings{
  color: #424242;
  font-size: 75%;
}

.searchdesc{
  display: block;
  line-height: 1.2em;
  max-height: 2.4em;
  overflow: hidden;
  color: #424242;
}

.small_desctext{
  font-size: 75%;
  color: #424242;
}

.searchgame{
  display: block;
  padding-top: .2em;
}

.verticalspan{
  display: inline-block;
  float: left;
  width: 95px;
  position: absolute;
  left: 20px;
  top: 75px;
  white-space: nowrap;
  color: white;
  background-color: black;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: solid black 1px;


  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: left bottom 0;
  -moz-transform-origin: left bottom 0;
  -ms-transform-origin: left bottom 0;
  -o-transform-origin: left bottom 0;
  transform-origin: left bottom 0;

}

.verticaltext{
  margin-left: 10px;
  display: inline-block;
  width: 85px;
}

.search_img_overlay{
  height: 100px;
  width: 100px;
  position: absolute;
  top: 0px;
  background: rgba(0,0,0,0.7);
}

.search_overlay_text{
  color: white;
  margin: 10px;
}

.listshowhide{
  float: right;
}

#ulist,#clist{
  display: block;
  padding-left: 1em;
}

.inlineform{
  display: inline;
}

.clearfix:before{
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix:after{
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

.searchthumbnail{
  float: left;
  width: 120px;
  display: block;
  height: 100px;
  position: relative;
  overflow: hidden;
  margin: 5px;
  padding-left: 20px;
}

/************************
	About Us CSS
************************/

blockquote{
  background: rgba(255,255,255,.7);
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/** End About Us CSS **/

/************************
	Inbox CSS
************************/
.msgheader{
  padding-bottom: 5px;
  display: block;
}

.msgbody{
  display: block;
  padding-top: 10px;
}

.msgborder{
  display: block;
  border: 1px solid #e0e0e0;
}

.msgtext{
  padding-left: 8px;
}

.replylink{
  float: right;
  padding-right: 8px;
}

/** End Inbox CSS **/

/*********************************
	UpdateContribution CSS
*********************************/

	
#comments{

}

#showmore_comments{
	width: 100%;
}

.comment_box{
	width: 40%;
}

a {
	cursor: pointer;
}
a.button {
   border-top: 1px solid #eef895;
   background: #e1c878;
   background: -webkit-gradient(linear, left top, left bottom, from(#b69c3d), to(#e1c878));
   background: -webkit-linear-gradient(top, #b69c3d, #e1c878);
   background: -moz-linear-gradient(top, #b69c3d, #e1c878);
   background: -ms-linear-gradient(top, #b69c3d, #e1c878);
   background: -o-linear-gradient(top, #b69c3d, #e1c878);
   padding: 2px 2px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   margin: 2px 2px;
}
a.button:hover {
 border-top-color: #5f4f1b;
   background: #5f4f1b;
   color: #ccc;
}
a.button:active {
   border-top-color: #5f4f1b;
   background: #5f4f1b;
}
a.col-1-3{
	color: inherit;
}

div.comment {
	background-color: rgba(150,100,56,.5);
	border: 2px;
	border-color: #F59032;
	padding: 1em;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin: .5em;
}
div.namedate {
	padding-left: 1em;
}
span.stars, span.stars span {
	display: inline-block;
	background: url(../../img/dice64x64.png) 0 -16px repeat-x;
	background-size: 16px 32px;
	width: 80px;
	height: 16px;
}
span.stars span {
	background-position: 0 0;
}

p {
	margin-top: .1em;
}

div.textarea {
	background-color: #FFFFFF;
	box-shadow: 1px 1px 3px #888888;
	line-height: 1;
	min-height: 2em;
	border-radius: 4px;
	padding: 0px;
	margin: 0px;
}

div.textarea *{
	margin:	.25em;
}


/** End UpdateContribution CSS **/

/***********************
	Homepage CSS
************************/
/*possible button formatting*/
.but {
   border-top: 1px solid #eef895;
   background: #e1c878;
   background: -webkit-gradient(linear, left top, left bottom, from(#b69c3d), to(#e1c878));
   background: -webkit-linear-gradient(top, #b69c3d, #e1c878);
   background: -moz-linear-gradient(top, #b69c3d, #e1c878);
   background: -ms-linear-gradient(top, #b69c3d, #e1c878);
   background: -o-linear-gradient(top, #b69c3d, #e1c878);
   padding: 2px 2px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   margin: 2px 2px;
   }
.but:hover {
   border-top-color: #5f4f1b;
   background: #5f4f1b;
   color: #ccc;
   }
.but:active {
   border-top-color: #5f4f1b;
   background: #5f4f1b;
   }

.hlink{

display: block;
padding-left: 10px;
padding-right: 8px;
padding-top: 5px;
padding-bottom: 5px;
float: left;
   
   
}

.hlink:hover{
background-color:#254d76;
box-shadow: 0 0 7px #000;
color:#FFF !important;
}



.quick_search{
list-style-type:none;
text-align: center;
margin-top: 0em;
}


.quick_search li{
display: inline;
font-weight: bold;


}


.hotContributions{
  background-color: # !important; 
  background: linear-gradient(gray, white); /* Standard syntax */
  display: block;
  border: 1px solid;
}

.hotContributions:after{
  content:"";
  display: table;
  clear: both;
}

.featureTitle{
  background: linear-gradient(gray, white); /* Standard syntax */
  display: block;
  border: 1px solid;
}

.gridImage{
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;

}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.blockTextBackground{
  position: absolute;
  top: 120px;
  left: 0;
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.7);
  display: inline-block;
  width: 100%;
  height: 80px;

  transition: height ease-in-out 250ms, top ease-in-out 250ms;
  -o-transition: height ease-in-out 250ms, top ease-in-out 250ms;
  -moz-transition: height ease-in-out 250ms, top ease-in-out 250ms;
  -webkit-transition: height ease-in-out 250ms, top ease-in-out 250ms;


}

a.col-1-3:hover .blockTextBackground{
  top: 0px;
  height: 200;
}

.blockDescription {
	color: #FFFFFF;
	margin-left: 1em;
	margin-bottom: 1em;
	margin-right: 1em;
	text-overflow: ellipsis;
}

h2.blockText{
  color: white;
  letter-spacing: -1px;
  font-size: 20;
  margin: 10px 10px 10px 10px;
  height: 60px;
}

h2.blockDescription{
  color: white;
  font-size: 20;
  /*margin-left: 20px;*/
}

b.ratingText{
  color: white;
  font-size: 16;
  margin-left: 20px;
}

.searchRatingText{
  color: black;
  font-size: 12;
  margin: 0;
}

/** Grid System **/

[class*='col-']{
  float: left;
  color: gray;
  padding: 10px 10px 10px 10px;
  position: relative;
  overflow: hidden;
}

/*[class*='col-']:last-of-type{
  padding-right: 0;
}*/

.col-2-3{
  width: 66.66%;
  height: 200px;
}

.col-1-3{
  width: 25%;
  height: 200px;
}

.grid:after{
  content:"";
  display: table;
  clear: both;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/** End Grid System **/

/** End Homepage CSS **/

/********************************
	Collections CSS
*********************************/

.collectionList{
  width: 100%;
  height: auto;
  display: block;
}

.collectionListItem{
  width: 100%;
  height: 110px;
  display: block;
  border: 2px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contributionListItem{
  width: 100%;
  height: 110px;
  display: block;
  border: 2px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}


.collectionItemTitle{
  width: 100%;
  height: 20%;
  display: block;
  /*background: black;*/
  background: -webkit-linear-gradient(black, gray); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(black, gray); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(black, gray); /* For Firefox 3.6 to 15 */
  background: linear-gradient(black, gray); /* Standard syntax */
}

.collectionItemSidebar{
  height: 80%;
  width: 2%;
  display: inline-block;
  /*background: black;*/
  background: -webkit-linear-gradient(gray, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(gray, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(gray, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(gray, white); /* Standard syntax */
  /*background: gray;*/
}


a.collectionItemEditDelete{
  color: white;
  margin-left: 4px;
  margin-right: 4px;
}
b.collectionItemEditDelete{
  color: white;
  margin-left: 4px;
  margin-right: 4px;
}

.collectionItemContent{
  width: 98%;
  height: 80%;
  background: #dddddd;
  display: inline-block;
}

img.collectionPicture{
  height: 100%;
  width: 80px;
}

.collectionText{
  vertical-align: top;
  margin-top: 5px;
  margin-left: 5px;
  display: inline-block;
}

.collectionNumItems{
  vertical-align: top;
  margin-top: 5px;
  margin-right: 5px;
  display: inline-block;
  float: right;
}


/** End Collections CSS **/


.error{
  color: ee0000;
  font-style: bold;
}

label.error {
  font-style: italic;
  font-weight: bold;
}

h2 label.error{
  font-style: italic;
  font-size: .65em;
}
