@import url("../global.css");

/*
This file contains the unique styles needed for example.html which do not appear in /css/global.css
----------------------------------------------------------------------------------------
*/

html { 
  background: rgb(244, 244, 244);
  }
body {
    -webkit-text-size-adjust:100%;
    -moz-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
}

/* 5. GLOBAL LAYOUT & GLOBAL CUSTOM TYPOGRAPHY
----------------------------------------------------------------------------------------*/
h1 {
  text-align: center;
  font-size: 2.618em;
  line-height: 1.2em;
  }
  
h3 { text-transform:uppercase; letter-spacing:0.12em; }
h3, h4, h5, h6 { font-weight: bold; }

p.intro { font-size: 1.309em; margin-bottom: 1em; }
  
header { text-align:center; }

footer {
  margin:1.618em 0 0;
  padding: 1.618em 0 0;
  border-top: 1px solid rgb(102,102,102);
  border-bottom: 1px solid rgb(102,102,102);
  }
  
footer p { float: left; margin-right:1em; }


/* 6. CUSTOM LAYOUT & TYPOGRAPHY (Baby bear)
----------------------------------------------------------------------------------------*/
  
header img#header-logo { margin-bottom:-0.809em; }

header h2:before {
  content:"";
  border-bottom:1px solid #333;
  height: 1.618em;
  width: 35%;  
  display: block;
  float: left;
}

header h2:after {
  content:"";
  border-bottom:1px solid #333;
  height: 1.618em;
  width: 35%;
  display: block;
  float: right;
}

/*
Zac's lovely header css. Dont hurt me dalton. :(
*/
#homelink{
  float: left;
  font-size: 3em;
}
#headerlinks{
  a{
  display: inline;
  }
  float: left; 
  max-width: 60em;
  }
#headcontainer {	/*In case we want the header to be different size than the page content... Idk how to web design.*/
  padding: 1.618em;
  margin: 0 auto; 
  max-width: 60em;
}

/*
Zac's search lists!
*/
.zacsh2{
  display: inline;
}

#searchlist{
  list-style-type: none;
}

.searchlistitem{
  display: inline-block;
}

.listshowhide{
  float: right;
}

#ulist,#clist{
  display: block;
}

.inlineform{
  display: inline;
}

.msgheader{
  display: block;
}

.msgbody{
  display: inline-block;
  border: 1px solid #e0e0e0;
}

.msgtext{
  padding-left: 8px;
}


